:root {
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
}

body {
    margin: 0;
}

p {
    font-size: 1.5rem;
}

button {
    border-radius: 1rem;

}



.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}

.divider::before,
.divider::after {
    content: " ";
    flex: 1;
    border-top: 2px solid #333;
    margin: 0 1rem;
}

.divider-text {
    font-size: 1rem;
    color: #333;
    white-space: nowrap;
}

.main {
    display: flex;
    margin: 0;
}

.img-container {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 50%;
    height: 1260px;
    background-image: url('construction_structure.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 50%;
    justify-content: space-between;
}

.info {
    display: flex;
    margin: 2rem;
    color: white;
    font-size: 2rem;
    justify-content: flex-start;
}

.recommend {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.5rem;
    margin: 1rem;
}

.recommend-sign {
    display: flex;
    color: white;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1rem;
    margin-top: 1rem;
}

.main-container {
    display: flex;
    margin: 0;
    width: 50%;
    flex-direction: column;
    position: relative;
    height: 1260px;
    align-items: center;
    justify-content: center;
}

.loginbutt {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.signin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.mainimg {
    width: 40%;
    max-width: 50%;
    max-height: 1260px;
    flex-wrap: nowrap;
}

.tips {
    flex-wrap: wrap;
    color: gray;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#username {
    justify-content: center;
    width: 32rem;
    height: 2rem;
    font-size: 1.5rem;
}

#login {
    justify-content: space-around;
    align-self: flex-end;
    background-color: white;
    border: none;
    font-size: 1.25rem;
    margin: 2rem;
}



.signbutt {
    width: 32rem;
    height: 4rem;
    font-size: 1.25rem;
    font-family: "Gill Sans", sans-serif;
    margin: 1rem;
}

#signin {
    background-color: black;
    color: white
}

#jumptoGit {
    background-color: white;

}